<%inherit file="base.htm" />

<%block name="title">About Me</%block>

<%block name="top_content">
<h1>Hi. I'm Patrik and this is my blog.</h1>

<div id="about_img_div">
   <h2>Links speak louder than words</h2>
      <a href="http://patrikdrean.com" target ="_blank">
         <img class="about_img" src="${STATIC_URL}home/media/patrikdrean.com.png"/>
      </a>
      <a href="https://github.com/patrik-drean" target ="_blank">
         <img class="about_img" src="${STATIC_URL}home/media/github_patrik_drean_profile.png"/>
      </a>
      <a href="https://www.linkedin.com/in/patrik-drean/" target ="_blank">
         <img class="about_img" src="${STATIC_URL}home/media/linkedin_logo_patrik_drean_profile.png"/>
      </a>

</div>
</%block>
<%block name="middle_content">

<h2>If you insist on words . . .</h2>

<img src="${STATIC_URL}home/media/profile_picture.jpg" id="profile_pic"
  alt="picture of Patrik Drean" title="Patrik Drean" />
<div id='bio_div'>
   <p>
     Patrik Drean is an up-and-coming programmer on a journey to increase his learning.
     He attends the Marriott School of Business at Brigham Young University and is pursuing
     a master's degree in information systems.
   </p>
</div>
</%block>
