<%inherit file="base.htm" />

<%block name="top_content">
<h1>Hi. I'm Patrik and this is my blog.</h1>
<img src="${STATIC_URL}home/media/profile_picture.jpg" id="profile_pic" alt="picture of Patrik Drean" />
<div class="row">
   <div class="col-md-8">


      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Tellus mauris a diam maecenas sed enim. Velit sed ullamcorper morbi tincidunt. Suspendisse potenti nullam ac tortor vitae. Velit sed ullamcorper morbi tincidunt ornare. Egestas erat imperdiet sed euismod nisi porta lorem mollis. Sit amet commodo nulla facilisi. Ac auctor augue mauris augue neque gravida. Diam quam nulla porttitor massa id. Massa vitae tortor condimentum lacinia quis. Ipsum a arcu cursus vitae congue. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Justo donec enim diam vulputate ut pharetra sit.</p>
   </div>
   <div class="col-md-3">
      <h2>Links speak louder than words</h2>
      <a href="https://www.linkedin.com/in/patrik-drean/">Linkedin</a>
      <a href="https://github.com/patrik-drean">GitHub</a>
      <a href="http://patrikdrean.com">patrikdrean.com</a>
   </div>
</div>


</%block>
