<%inherit file="base.htm" />

<%block name="title">${ article.nav_title}</%block>
<%block name='meta_description'>
  ${ article.meta_description}
</%block>

<%block name="top_content">
   <img id="main_img" src="${ STATIC_URL }${article.image_url()}" alt="${ article.alt_text}" />

</%block>
<%block name="middle_content">
   <h1>${ article.title }</h1>
   <p id="article_author">by Patrik Drean</p>
   <p id="article_datestamp">${ article.create_date.strftime('%B %d, %Y') }</p>

   <div id="article_content">
     ${ article.content }
   </div>




</%block>
<!--
*introduction
*set-up
*
-->
