<%inherit file="base.htm" />
<%block name="top_content">
   <img id="main_img" src="${ STATIC_URL }${article.image_url()}" alt="${ article.alt_text}" />

</%block>
<%block name="middle_content">
   <h1>${ article.title }</h1>
   <p id="article_author">by Patrik Drean</p>
   <p id="article_datestamp">${ article.create_date.strftime('%B %d, %Y') }</p>
   <!--<div id="article_content">${ article.content}</div>-->
   <div id="article_content">
     <p>Programming already has its fair share of bugs and headaches. When it comes to
   deploying a project this pain only multiplies. This is a walkthrough on how to deploy
   to Heroku when dependencies(e.g., custom frameworks, libraries, etc.) are required for your
   project. Using <a href='http://django-mako-plus.readthedocs.io/about.html' target='_blank'>
   Django-Mako-Plus</a>, a custom python framework, we will show how you can deploy your
   project with a framework that isn't officially supported by Heroku.
 </p>
 <h2>Initial Setup</h2>

   <p>
   <ul>
     <li>
       Sign up for a
       <a href='https://signup.heroku.com/dc' target='_blank'>Heroku</a> account
     </li>
     <li>
       Setup up
       <a href='https://help.github.com/articles/set-up-git/' target='_blank'>git</a>
       in your project
     </li>
     <li>
       Install
       <a href='http://www.postgresqltutorial.com/install-postgresql/' target='_blank'>
               postgresql
           </a>
     </li>
     <li>
       Run the following in terminal (Learn about pip
       <a href='http://www.pythonforbeginners.com/pip/' target='_blank'>here</a>):
     </li>
   </ul>
   <figure>
     <pre>
          <code class='language-python' contenteditable spellcheck='false' >pip install pipenv</code>
          </pre>
   </figure>
 </p>

 <h2 class='small_margin'>Download Heroku tools</h2>
 <p> The tools can be found
   <a href='https://devcenter.heroku.com/articles/getting-started-with-python#set-up'
     target='_blank'> here</a>.
     Download the appropriate package for your machine (i.e., Windows, Mac, etc.)
 </p>
 <p>Once downloaded, login to your heroku account in terminal. </p>

 <figure>
  <pre>
  <code class='language-python' contenteditable spellcheck='false' >heroku login</code>
  </pre>
  </figure>

  <p>The following prompt should appear.</p>

  <figure>
   <pre>
   <code class='language-python line-numbers' contenteditable spellcheck='false' >Enter your Heroku credentials:
Email: myemail@domain.com
Password: ********** </code>
   </pre>
   </figure>

   <h2 class='small_margin'>Install Heroku to the Project</h2>
   <p>Once you have git installed in your project, you can create a Heroku app.</p>
   <figure>
  <pre>
  <code class='language-python' contenteditable spellcheck='false' >heroku create myNewApp</code>
  </pre>
  </figure>
  <p>In this case I named my app 'myNewApp'. If no name is indicated, Heroku
  automatically assigns a random name.</p>

  <h2>Define a Procfile</h2>
  <p>The
    <a href='https://devcenter.heroku.com/articles/getting-started-with-python#define-a-procfile'
    target='_blank'>Procfile</a>
     declares what command should be run to start your app. It's an empty text file
     we create (with no extention) in the root of our project. It has one line of code.
   </p>
   <figure>
       <pre>
       <code class='language-python' contenteditable spellcheck='false' >web: gunicorn myProjectName.wsgi --log-file -</code>
       </pre>
       </figure>
   <p>
     Be sure to update it to your project name. In this case, my Django project
     is called 'myProjectName'.
   </p>


   <h2>Define a Pipfile</h2>
   <p>
     This step is crucial. A Pipfile is used by Heroku to pip install all the
     necessary packages onto the Heroku server so that your app can run online
     as well as it does locally. We create this file in the root of the project as
     a text file (with no extension). Here is an example of what should be included
     in the Pipfile.
   </p>
   <figure>
       <pre>
       <code class='language-python line-numbers' contenteditable spellcheck='false'>
       [[source]]

       url = \"https://pypi.python.org/simple\"
       verify_ssl = true


       [packages]

       django = \"*\"
       dj-database-url = \"*\"
       psycopg2 = \"*\"
       gunicorn = \"*\"
       whitenoise = \"*\"
       django-mako-plus = \"*\"




       [requires]

       python_version = \"3.6\"
</code>
       </pre>
       </figure>
       <p>An explanation of critical packages:</p>
       <p class='p_indent'>django, dj-database-url, psycopg2 - these are standard packages in Django.</p>
       <p class='p_indent'>
         <a href='http://gunicorn.org' target='_blank'>gunicorn</a> -
         This helps integrate Django projects into a web server.
       </p>
       <p class='p_indent'>
         <a href='http://whitenoise.evans.io/en/stable/' target='_blank'>whitenoise</a> -
         This helps translate static link work in the Heroku server folder.
       </p>
       <p class='p_indent'>
         django-mako-plus - The custom framework package.
       </p>
       <p>
         It's important to note that the '*' indicates the most current update of
         that package. This can be hardcorded to a specific update (e.g., \"3.2\").
       </p>

       <h2>How to View Your Current Packages in Your Project</h2>
       <p>
          This command in the termnial displays all the packages currently installed
          in your environment.
       </p>
       <figure>
           <pre>
           <code class='language-python' contenteditable spellcheck='false' >pip freeze</code>
           </pre>
       </figure>
       <p>
         This outputs the packages into a text file.
       </p>
       <figure>
           <pre>
           <code class='language-python' contenteditable spellcheck='false' >pip freeze > myTextFile.txt</code>
           </pre>
       </figure>

       <h2 class='small_margin'>Create Pipfile.lock</h2>
       Once the Pipfile is created correctly, run the following in the terminal:
       <figure>
           <pre>
           <code class='language-python' contenteditable spellcheck='false' >pipenv lock</code>
           </pre>
       </figure>
       <p class='note'>NOTE: you may need deactivate your virtual environment first.</p>

       <h2>Change settings.py</h2>
       <p>Update allowed hosts to the following. In this case, my domain name is
       myWebsiteDomain.com.</p>
       <figure>
           <pre>
           <code class='language-python' contenteditable spellcheck='false' >ALLOWED_HOSTS = ['myWebsiteDomain.com']</code>
           </pre>
       </figure>
       <p>This allows any web server to access your project.</p>
      <figure>
        <pre>
        <code class='language-python' contenteditable spellcheck='false' >ALLOWED_HOSTS = ['*']</code>
        </pre>
      </figure>
      <p>Include whitenoise in the middleware.</p>
      <figure>
        <pre>
        <code class='language-python line-numbers' contenteditable spellcheck='false' >MIDDLEWARE = [
    . . .
    'whitenoise.middleware.WhiteNoiseMiddleware',
  ]</code></pre>
      </figure>

      <h2>Ready to Deploy? Me too.</h2>
      <figure>
        <pre>
        <code class='language-python' contenteditable spellcheck='false' >git push heroku master</code>
        </pre>
      </figure>
      <p class='note'>
        NOTE: Be sure you've committed all of your changes. Also be sure you're committing
        on master.
      </p>

      <h2>Create a PostgreSQL Database</h2>
      <p>
        Create a free PostgreSQL database on Heroku's server.
      </p>
      <figure>
          <pre>
          <code class='language-python' contenteditable spellcheck='false' >heroku addons</code>
          </pre>
      </figure>
      <p>
        Check the status of your database.
      </p>
      <figure>
          <pre>
          <code class='language-python' contenteditable spellcheck='false' >heroku pg</code>
          </pre>
      </figure>

      <h2 class='small_margin'>Update settings.py for the Database</h2>
      <p>This should be included right after the database definition.
        It's important to note that it's not necessary to remove your database
        definition. Commit this and push it to the Heroku server.
      </p>
      <figure>
          <pre>
          <code class='language-python line-numbers' contenteditable spellcheck='false' >import dj_database_url
db_from_env = dj_database_url.config()
DATABASES['default'].update(db_from_env)</code>
          </pre>
    </figure>

    <h2 class='small_margin'>Run Database Migrations on Heroku</h2>
    <figure>
  <pre>
  <code class='language-python line-numbers' contenteditable spellcheck='false' >heroku run python manage.py makemigrations # Including the app name is optional
heroku run python manage.py migrate </code>
  </pre>
</figure>
</div>

<h2 class='small_margin'>Done.</h2>
<figure>
  <pre>
  <code class='language-python' contenteditable spellcheck='false' >heroku open</code>
  </pre>
</figure>
</%block>
<!--
*introduction
*set-up
*
-->
