<%inherit file="base.htm" />
<%! from home import duck_time_past as dtp%>
<%block name="title">My Journey</%block>
<%block name="top_content">

<a href="/article/${ recent_blogs[0].url }">
   <div id="highlight_blog_div">
      <img id="highlight_img" src="${ STATIC_URL }${recent_blogs[0].image_url()}" alt="${ recent_blogs[0].alt_text}" />
      <div id="highlight_message_div">
         <p id="highlight_featured_post">Featured Post</p>
         <h1>${ recent_blogs[0].title }</h1>
         <p id="highlight_datestamp">by Patrik Drean - ${ dtp.past_time(str(recent_blogs[0].create_date)) }</p>
         <p id="highlight_description">${ recent_blogs[0].description }</p>
      </div>
   </div>
</a>
<div id="top_blog_div_wrap">
   <h2>Popular Posts</h2>
   % for b in top_blogs:
      <a href="/article/${ b.url }">
         <div class="top_blog_div">
            <img class="top_img" src="${ STATIC_URL }${ b.image_url()}" alt="${ b.alt_text}"/>
            <div class="top_message_div">
               <h3>${ b.title }</h3>
               <p class="top_datestamp">by Patrik Drean - ${ dtp.past_time(str(b.create_date)) }</p>
               <p class="top_description">${ b.description }</p>
            </div>
         </div>
      </a>
   % endfor
</div>

<div id="recent_blog_div_wrap">
   <h2>Recent Posts</h2>
   % for b in recent_blogs:
      <a href="/article/${ b.url }">
         <div class="recent_blog_div">
            <img class="recent_img" src="${ STATIC_URL }${ b.image_url()}" alt="${ b.alt_text}"/>
            <div class="recent_message_div">
               <h3>${ b.title }</h3>
               <p class="recent_datestamp">by Patrik Drean - ${ dtp.past_time(str(b.create_date)) }</p>
               <p class="recent_description">${ b.description }</p>
            </div>
         </div>
      </a>
   % endfor
</div>

<div id="category_div_wrap">
   <h2>Categories</h2>
   <ul>
      % for c in categories:
         <li>
            <a href="/category/${ c.url }">
               <div class="category_div">
                     <p class="category_name">${ c.name }</p>
                     <!--<p class="category_description">${ b.description }</p>-->
               </div>
            </a>
         </li>
      % endfor
   </ul>
</div>

</%block>
