@font-face{
	font-family: 'ArchitectsDaughter';
	src: url('fonts/ArchitectsDaughter.ttf');
}
@font-face{
	font-family: 'Acme-Regular';
	src: url('fonts/Acme-Regular.ttf');
}
#left-section, #middle-section, #right_section {
   padding: 0;
   margin: 0;
}
h1 {
   font-size: 2em;
   font-family: ArchitectsDaughter;
   padding: 0 0 18px 0;
   margin: 0 auto;
   text-align: center;
}
#profile_pic {
   width: 250px;
   border-radius: 50%;
   display: block;
   margin: 10px auto;
}
h2 {
   font-size: 30px;
   font-family: Acme-Regular;
   text-align: center;
}
p {
}
#about_img_div {
	margin: 20px auto 60px auto;
	text-align: center;
}
.about_img {
	width: 300px;
	text-align: center;
	margin: 0 20px;
}
