@font-face{
	font-family: 'ArchitectsDaughter';
	src: url('fonts/ArchitectsDaughter.ttf');
}
@font-face{
	font-family: 'Acme-Regular';
	src: url('fonts/Acme-Regular.ttf');
}
#left-section, #middle-section, #right_section {
   padding: 0;
   margin: 0;
}
h1 {
   font-size: 2em;
   font-family: ArchitectsDaughter;
   padding: 0 0 18px 0;
   margin: 0 auto;
   text-align: center;
	 display: none;
}
h2 {
		color: #358ccb;
   font-size: 2em;
	 margin: 0 0 1em 0;
   font-family: ArchitectsDaughter;
   text-align: center;
}

#about_img_div {
	margin: 60px auto 60px auto;
	text-align: center;
}
.about_img {
	width: 300px;
	text-align: center;
	margin: 0 20px;

}
#profile_pic {
   width: 150px;
   border-radius: 50%;
   margin: 0 15px;
	 float: left;
}
#bio_div {
	height: 200px;
	padding: 0 20px;
}
p {
	font-size: 1.3em;
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 1068px)
{
	.about_img {
		width: 200px;
	}
}
@media (max-width: 768px)
{
	#bio_div {
		padding: 0 20px;
		display: block;
		text-align: center;

	}
	#profile_pic {
		text-align: center;
		margin: 0 auto;
		display: block;
		float: none;
	}
	.about_img {
		display: block;
		text-align: center;
		margin: 40px auto 0 auto;
		width: 300px;
	}

}
@media (max-width: 400px)
{
	h2 {
		font-size: 140%;
	}
	p {
		font-size: 100%;
	}
}
