html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #147871;
    padding: 15px 20px;
    border-top: 4px solid #606060;
    border-bottom: 4px solid #606060;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 15px;
}
ul, ol {
   list-style: none;
}
#dropdown01  {
   color: white !important;
}

#duck_logo {
   width: 60px;
   padding: 0;
   margin: 0;
}
.navbar-brand {
   padding: 0;
   margin: 0;
}
.navbar-brand a:hover {
   text-shadow: 1px 1px 1px  #71767c;
}

#nav {
   background-color: white !important;
   border-bottom: .9px #e0e0e0 solid;
   padding: 1.5px 16px;
}

#nav a {
   color: #71767c;
   font-size: 15px;
}
#nav a:hover {
   color: #71767c;
   text-shadow: 1px 1px 1px  #71767c;
}
#nav ul {
   margin: 0 auto;
}
#nav li {
   margin: 0 10px;
}

p a, li a {
  color: #358CCB;
  font-weight: 700;
  text-decoration: none;
}

a:visited, a:active, a:link{
  color: inherit;
  text-decoration: none;
}
p a:hover {
  text-decoration: none;
  color: #103570;
}

/***************************** Mobile ***********************/
@media (max-width: 376px)
{
  #nav {
    height: 3em;
  }
  .top_blog_div, .recent_blog_div, .category_blog_div {
    display: block;
    width: 100%;
  }
  #duck_logo {
    width: 100px;
  }
}
