@font-face{
	font-family: 'ArchitectsDaughter';
	src: url('fonts/ArchitectsDaughter.ttf');
}
@font-face{
	font-family: 'Acme-Regular';
	src: url('fonts/Acme-Regular.ttf');
}
@font-face{
	font-family: 'SofiaPro';
	src: url('fonts/sofiapro-light-webfront.woff');
}
a:hover {
   font-style: none;
   color: inherit;
   text-decoration: none;
}
a {
   font-style: none;
   color: inherit;
}
h1 {
   font-size: 27px;
   font-family: ArchitectsDaughter;
   padding: 0 0 8px 0;
   margin: 18px 0 0 0;
}
h2 {
   font-size: 45px;
   font-family: Acme-Regular;
   padding: 0 0 8px 0;
   margin: 0 0 0 45px;
   font-weight: 700;
}
h3 {
   font-size: 25px;
   font-family: ArchitectsDaughter;
   padding: 0 0 8px 0;
   margin: 10px 0 0 0;
   font-weight: 700;
}
p {
   font-family: SofiaPro;
}

/*********************** Highlight blog **********************/
#highlight_blog_div {
   margin: 0 0 80px 0;
   padding: 0;
   text-align: center;
   position: relative;
}

#highlight_img {
   width: 100%;
   text-align: center;
   margin: 0;
   padding: 0;
}
#highlight_message_div {
   background: rgb(89,89,89);
   background: rgba(89,89,89,.8);
   max-width: 600px;
   position: absolute;
   bottom: 15%;
   left: 4%;
   border-radius: 8px;
   padding: 5px 20px 20px 20px;
   color: white;
}
#highlight_datestamp {
   /* color: #dbdbdb; */
   font-family:  sans-serif;
}
#highlight_description {
   text-align: left;
   font-size: 20px;
}
#highlight_featured_post {
   text-align: left;
   color: #24BEFA;
   padding: 0;
   margin: 0 0 0 0;
	display: none;
}


/*********************** Top blogs **********************/
.top_blog_div {
   margin: 10px auto;
   width: 82vw;
   vertical-align: top;
}
.top_img {
   width: 40vw;
   display: inline-block;
   vertical-align: top;
}
.top_message_div {
   display: inline-block;
   width: 40vw;
   padding: 10px;
   margin: 0 0 0 10px;
   position: relative;
   top: 10px;
}
.top_datestamp {
   margin: 0 0 5px 10px;
   color: #707070;
}
.top_description {
   font-size: 20px;
}
#top_blog_div_wrap, #recent_blog_div_wrap, #category_div_wrap {
   margin: 0 auto 80px auto;
}
.shadow {
   box-shadow: 3px 3px 4px #000000;
   text-shadow: .5px .5px .5px  #000000;
}
.shadow_text {
   text-shadow: 2px 2px  #000000;
}


/*********************** Recent blogs **********************/
#recent_blog_div_wrap {
	margin-bottom: 40px;
}

.recent_blog_div {
   margin: 10px;
   width: 30vw;
   display: inline-block;
   vertical-align: top;
   min-height: 450px;

}
.recent_img {
   width: 30vw;

}
.recent_message_div {
   width: 25vw;
   padding: 10px;

}
.recent_datestamp {
   margin: 0 0 5px 10px;
   color: #707070;
}
.recent_description {
   font-size: 20px;
	/* white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	height: 100px; */

}

/*********************** Categories **********************/
#category_div_wrap {
	background-color: #3B3A3D;
	overflow: auto;
	margin: 0 -15px;
	padding: 10px 0;
}
#category_div_wrap h2 {
	color: white;
}
.category_div {
	width: 250px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white;
	display: inline-block;
	margin: 1em;
	border-radius: 8px;
}
.category_name {
	font-family: SofiaPro;
	text-align: center;
	color: white;
	font-size: 1.5em;
	vertical-align: center;
}
.category_shadow{
	border-color: #ffe900;
	box-shadow: 0px 0px 5px #ffe900;
}
li {
	display: inline-block;
}
